* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #4c6986;
  font-family: sans-serif;
}
.wrapper {
  max-width: 1440px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.title {
  font-size: 30px;
  margin-right: 30px;
}
.restart {
  width: 175px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #4c6986;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: bold;
  margin-top: 30px;
}
.restart:hover {
  background-color: #4c6986;
  color: white;
}
.game {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  color: black;
  font-size: 24px;
  justify-content: space-around;
}
.player-x {
  padding: 5px 25px;
}
.player-o {
  padding: 5px 25px;
}
.player-o.active {
  border: 2px solid rgb(19, 173, 193);
  border-radius: 10px;
}
.player-x.active {
  border: 2px solid gray;
  border-radius: 10px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-grow: 1;
  grid-gap: 0px;
  padding: 10px;
}
.board-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.board-title:not(:nth-child(3n)) {
  border-right: 3px solid rgba(137, 163, 189, 0.5);
}
.board-title:not(:nth-last-child(-n + 3)) {
  border-bottom: 3px solid rgba(137, 163, 189, 0.5);
}
.board-title:hover {
  background-color: #eee;
}
.title-o {
  color: rgb(41, 167, 222);
}
.title-x {
  color: black;
}
.title-winner span {
  color: rgb(198, 212, 213);
}

@media screen and (max-width: 850px) {
  .wrapper {
    display: grid;
    align-items: center;
  }
  .title {
    text-align: center;
    font-size: 20px;
  }
  .restart {
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
  }
  .game {
    margin: auto;
  }
  .winner {
    display: flex;
    font-size: 50px;
    margin-left: 160px;
    margin-top: 10px;
  }
}
